<!DOCTYPE html>
<html xmlns:c="http://xmlns.jcp.org/xml/ns/javaee">
<body>
<h2>All Employees</h2>
<br>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <td>Operations</td>
    </tr>
        <th:block th:each="employee : ${allEmployee}">
        <tr>
            <td><th:block th:text="${employee.getName()}"></th:block></td>
            <td><th:block th:text="${employee.getSurname()}"></th:block></td>
            <td><th:block th:text="${employee.getDepartment()}"></th:block></td>
            <td><th:block th:text="${employee.getSalary()}"></th:block></td>
            <td><th:block><a th:href="@{deleteEmployee(empId=${employee.getId()})}">Удалить</a></th:block></td>
            <td><th:block><a th:href="@{updateInfo(empId=${employee.getId()})}">Изменить</a></th:block></td>
        </tr>
        </th:block>
</table>
<br>

<h2>Добавить пользователя</h2>
<form action="#" th:action="@{employeeForAdd}" th:object="${employee}">
    <table border="1">
        <tr>
            <th>Имя:</th>
            <th><input type="text" th:field="*{name}"/></th>
        </tr>
        <tr>
            <th>Фамилия:</th>
            <th><input type="text" th:field="*{surname}"/></th>
        </tr>
        <tr>
            <th>Емаил:</th>
            <th><input type="text" th:field="*{department}" /></th>
        </tr>
        <tr>
            <th>Возвраст:</th>
            <th><input type="text" th:field="*{salary}" /></th>
        </tr>
    </table>
    <p><input type="submit" value="ОК" /></p>
</form>
</body>
</html>