<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Введите новые данные пользователя</h1>
<form action="#" th:action="@{/employeeForAdd}" th:object="${employeeUpdate}">
    <table>
        <tr>
            <th>Id:</th>
            <th><input type="text" th:field="*{id}" readonly/></th>
        </tr>
        <tr>
            <th>Name:</th>
            <th><input type="text" th:field="*{name}"/></th>
        </tr>
        <tr>
            <th>Surname:</th>
            <th><input type="text" th:field="*{surname}" /></th>
        </tr>
        <tr>
            <th>Department:</th>
            <th><input type="text" th:field="*{department}" /></th>
        </tr>
        <tr>
            <th>Salary:</th>
            <th><input type="text" th:field="*{salary}" /></th>
        </tr>
    </table>
    <p><input type="submit" value="ОК" /></p>
</form>

</body>
</html>